<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {% if site.avatar != empty and site.avatar %}
        {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
        <img src="{{ avatar_url | strip }}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {% endif %}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->

  <div class="nav-grid">
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home"></i>
        <!-- <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span> -->
      </a>
    </li>
    {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            <i class="fa-fw {{ tab.icon }}"></i>
            <!-- {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %} -->
            <!-- <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span> -->
          </a>
        </li>
      <!-- .nav-item -->
    {% endfor %}
  </div>
  <!-- .nav-grids -->


  <div class="nav-category" id="lysidebar_content">

    {% assign sort_categories = site.categories | sort %}
    {% for category in sort_categories %}
      {% assign category_name = category | first %}
      {% assign posts_of_category = category | last %}
      {% assign first_post = posts_of_category | first %}

      {% if category_name == first_post.categories[0] %}
        {% assign sub_categories = '' | split: '' %}

        {% for post in posts_of_category %}
          {% assign second_category = post.categories[1] %}
          {% if second_category %}
            {% unless sub_categories contains second_category %}
              {% assign sub_categories = sub_categories | push: second_category %}
            {% endunless %}
          {% endif %}
        {% endfor %}

        {% assign sub_categories = sub_categories | sort %}
        {% assign sub_categories_size = sub_categories | size %}
        <!-- get sub-category info -->

        {% if sub_categories_size > 0 %}

        <div class="category-whole">
            {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
            <a class="category" href="{{ _category_url | relative_url }}">
              {{ category_name }}
            </a >
            <!-- display main-category -->

            {% for sub_category in sub_categories %}

                <div class="sub-category">
                  {% capture _sub_ctg_url %}/categories/{{ sub_category | slugify | url_encode }}/{% endcapture %}
                  <i class="toggle-icon fas fa-angle-down" data-target="posts-{{ sub_category | slugify }}"></i>
                  <a class="sub-category-link" href="{{ _sub_ctg_url | relative_url }}" class="mx-2">{{ sub_category }}</a>
                  <!-- display sub-category  -->

                  {% assign posts_under_subcate = '' | split: '' %}

                  {% for post in posts_of_category %}
                    {% if post.categories[1] == sub_category %}
                      {% assign posts_under_subcate = posts_under_subcate | push: post %}
                    {% endif %}
                  {% endfor %}

                  {% assign posts_size = posts_under_subcate | size %}
                  {% if posts_size > 0 %}
                      <div class="posts" id="posts-{{ sub_category | slugify }}">
                          {% for post in posts_under_subcate %}
                              <li>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a ></li>
                          {% endfor %}
                      </div>
                    <!-- display posts  -->
                  {% endif %}

                </div>
                <!-- posts in sub-categories -->

            {% endfor %}
            <!-- sub-categories -->

        </div>
        {% endif %}

      {% endif %}
    {% endfor %}
  </div>


  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">

      <a href=" " style="opacity: 0.6;list-style: none; margin-left: -10px;">
        <button id="collapseAll" style="border: none;"><i class="fa-solid fa-expand"></i></button>
      </a>

    {% unless site.theme_mode %}
      <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->


<script>

  document.querySelectorAll('.toggle-icon').forEach(function(icon) {
      var targetId = icon.getAttribute('data-target');
      var target = document.getElementById(targetId);

      var isVisible = localStorage.getItem('toggle_' + targetId) === 'true';
      target.style.display = isVisible ? 'block' : 'none';
      icon.classList.toggle('fa-angle-up', isVisible);
      icon.classList.toggle('fa-angle-down', !isVisible);

      icon.addEventListener('click', function() {
        var isCurrentlyVisible = target.style.display !== 'none';
        target.style.display = isCurrentlyVisible ? 'none' : 'block';
        icon.classList.toggle('fa-angle-up', !isCurrentlyVisible);
        icon.classList.toggle('fa-angle-down', isCurrentlyVisible);
        localStorage.setItem('toggle_' + targetId, !isCurrentlyVisible);
      });
  });

  document.getElementById('collapseAll').addEventListener('click', function() {
      var posts = document.querySelectorAll('.posts');
      var icons = document.querySelectorAll('.toggle-icon');
      var isVisible = Array.from(posts).some(post => post.style.display === 'block' || post.style.display === '');

      posts.forEach(post => {
          post.style.display = isVisible ? 'none' : 'block';
          localStorage.setItem('toggle_' + post.id, !isVisible);
      });

      icons.forEach(icon => {
          icon.className = isVisible ? 'toggle-icon fas fa-angle-down' : 'toggle-icon fas fa-angle-up';
      });

      var buttonIcon = document.getElementById('collapseAll').querySelector('i');
      buttonIcon.className = isVisible ? 'fa-solid fa-expand' : 'fa-solid fa-compress';
  });

  function savelysidebar_contentScrollPosition() {
        const lysidebar_content = document.getElementById('lysidebar_content');
        if (lysidebar_content) {
            const scrollPosition = lysidebar_content.scrollTop;
            sessionStorage.setItem('lysidebar_contentScrollPosition', scrollPosition);
        }
    }

  function restorelysidebar_contentScrollPosition() {
      const lysidebar_content = document.getElementById('lysidebar_content');
      const savedPosition = sessionStorage.getItem('lysidebar_contentScrollPosition');
      if (lysidebar_content && savedPosition) {
          lysidebar_content.scrollTop = parseInt(savedPosition, 10);
      }
  }

  restorelysidebar_contentScrollPosition();

  const lysidebar_content = document.getElementById('lysidebar_content');
  if (lysidebar_content) {
      lysidebar_content.addEventListener('scroll', savelysidebar_contentScrollPosition);
  }

  function updateCollapseAllIcon() {
      var posts = document.querySelectorAll('.posts');
      var collapseAllIcon = document.getElementById('collapseAll').querySelector('i');

      var allCollapsed = Array.from(posts).every(post => post.style.display === 'none');
      if (allCollapsed) {
          collapseAllIcon.className = 'fa-solid fa-expand';
      } else {
          collapseAllIcon.className = 'fa-solid fa-compress';
      }
  }

  updateCollapseAllIcon();

</script>
